/* start variables */
:root {
  --main-color: #314584;
  --secondary-color: #ff4359;

  --paddding-top: 80px;
  --paddding-bottom: 80px;
}
/* end variables */

/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Work Sans', sans-serif;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html {
    scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.gridy {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  padding: 25px;
  grid-gap: 20px;
}
  /* End Global Rules */
/* start header */

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container {
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
/* @media (max-width:990px) {
  .header .container {
    padding-left: 15px;
  }
    
} */
.header .logo {
  width: 100px;
  padding-left: 30px;
  padding-top: 5px;
}
.header .logo img{
  width: 100px;
}
.header .container ul {
  display:flex;
  flex: 1;
}
.header  ul li {
  list-style: none;
}
.header ul li a {
  text-decoration: none;
  font-size: 15px;
  margin-right: 15px;
  margin-left: 15px;
  font-weight: bold;
  color: var(--main-color);
}
.header .contact select{
  border: none;
  font-weight: bold;
  font-size: 15px;
  margin-right: 15px;
}
.header .toggle{
  font-size: 20px;
  margin-right: 5px;
  display: none;
  width: 50px;
}
.header .contact button {
  padding: 10px 20px;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 3px 0px #777;
}
@media (max-width:990px) {
  .header .container ul {
    display: none;
  }
  .header .container {
    justify-content: flex-end;
    margin-right: 5px;
    margin-right: 0px;
  }
  .header .contact button  {
    padding: 5px 10px;
  }

  .header .toggle {
    display: initial;
  }
  .header .contact {
    display: none;
  }
  .header .container ul li {
    width: 100%;
    border-bottom: .5px solid white;
    padding-bottom: 20px;
  }
}
.toggle:hover + ul {
  display: block;
  flex-basis: 100%;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 30px;
  width: 200px;
  background-color: var(--main-color);
  padding: 30px 20px 0 20px;

}
.toggle:hover + ul li {
  margin-bottom: 30px;
  color: white;
}
.toggle:hover + ul li a {
  color: white;
}
/* end header */
/* start landing */
.landing {
  padding-top: var(--paddding-top);
  padding-bottom: var(--paddding-bottom);
}
.landing .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width:740px) {
  .landing .container {
    display: block;
  }
}
.landing .container .image img{
  max-width: 100%;
}
.landing .container .text {
  padding:50px 100px;
}
@media (max-width:740px) {
  .landing .container .text {
    padding:20px 40px;
  }
}
.landing .container .text h1{
  color: var(--main-color);
  word-spacing: 3px;
}
.landing .container .text p {
  line-height: 1.6;

}
.landing .container .text .links {
  margin-top: 20px;
  align-items: center;
  display: flex;
}
.landing .container .text .links a:first-child {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #ff4359;
  margin-right: 10px;
}
.landing .container .text .links a:last-child {
  text-decoration: none;
  color: var(--main-color);
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #fff5ff;
}
@media (max-width:740px) {
  .landing .container .text .links {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .landing .container .text .links a:last-child {
    height: 100%;
    max-width: 100%;
  }
  
}
@media (max-width:380px) {
  .landing .container .text .links a:last-child {
    margin-top: 20px;
  }
}
/* end landing */
/* start services */
.services {
  padding-top: var(--paddding-top);
  padding-bottom: var(--paddding-bottom);
  background-image: url(../images/right.png);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: right;
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(40%,1fr));
}
.services .container .text {
padding-left:100px;

}
.services .container .text h3 {
  font-size: 30px;
  line-height: 1.6;
  color: var(--main-color);
}
.services .container .text a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #ff4359;
  display:inline-block;
  margin-top: 10px;
}
.services .container .content {
  display: flex;
  justify-content: space-between;
}
@media (max-width:975px) {
  .services .container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .services .container .text {
    padding: 0;
    margin-bottom: 50px;
  }
  @media (max-width:520px) {
    .services .container .content {
      flex-direction: column;
    }
  }
}
.services .container .content .box {
  padding: 20px;
  box-shadow:  0 0 4px 0px #777;
  margin: 20px;
  transition-duration: .3s;
}
.services .container .content .box:hover {
  background-color: var(--main-color);
  color: white;
}
.services .container .content .box i {
  font-size: 50px;
}
.services .container .content .box h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}
/* end services */
/* start about us */
.about-us {
  padding-top: var(--paddding-top);
  padding-bottom: var(--paddding-bottom);
  background-image: url(../images/left.png);
  background-size: 150px;
  background-repeat: no-repeat;
  background-position: right;
}
.about-us .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(40%,1fr));
}
.about-us .container .image {
  width: 100%;

}
.about-us .container .image img{
  max-width: 100%;
}
.about-us .container .text {
  padding: 50px;
}
.about-us .container .text h6 {
  color: var(--secondary-color);
}
.about-us .container .text h3 {
  font-size: 30px;
  line-height: 1.6;
  color: var(--main-color);
}
.about-us .container .text p {
  line-height: 1.6;
  margin-top: 40px;
}
@media (max-width:768px) {
  .about-us .container {
    grid-template-columns: repeat(1,1fr);
    text-align: center;
  }
}
.about-us .fa-long-arrow-alt-right {
  font-size: 30px;
  color: var(--main-color);
  cursor: pointer;
}
/* end about us */
/* start gallery */
.gallery {
  padding-top: var(--paddding-top);
  padding-bottom: var(--paddding-bottom);
  background-image: url(../images/left-2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
}
.gallery .container {
  display: flex;
  flex-direction: column;
}
.gallery .container .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gallery .container .text i {
  display:inline-block;
  font-size: 20px;
}
.gallery .container .text h3 {
  font-size: 30px;
  line-height: 1.6;
  color: var(--main-color);
  margin-bottom: 20px;
}
.gallery .container .photos {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(22%,1fr));
  grid-gap: 30px;
}
@media(max-width:768px) {
  .gallery .container .photos {
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  }
}

.gallery .container .photos .photo img{
  max-width: 100%;
  transition-duration: .3s;
}
.gallery .container .photos .photo:hover img {
  transform: scale(1.1) rotate(3deg);
  border-radius: 2%;
  box-shadow: 0 0 10px 0 rgb(163, 163, 163);
}
.gallery .container h6 {
  color: var(--secondary-color);
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

/* end gallery */
/* start news */
.news {
  padding-top: var(--paddding-top);
  padding-bottom: var(--paddding-bottom);
  background-image: url(../images/left-2.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left;
}

.news .container .text h6 {
  color: var(--secondary-color);
  font-size: 14px;
}
.news .container .text h3 {
  font-size: 30px;
  line-height: 1.6;
  color: var(--main-color);
  margin-bottom: 20px;
}
.news .container .text i {
  text-align: right;
  display: block;
  font-size: 20px;
}
.news .container .adventures {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(30%,1fr));
  grid-gap: 30px;
  margin-top: 50px;
}
@media(max-width:768px) {
  .news .container .adventures {
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  }
}
.news .container .adventures .adventure {
  padding: 25px;
  box-shadow:  0 0 4px 0px #777;
  transition-duration: .3s;
  color: var(--main-color);
  cursor: pointer;
}
.news .container .adventures .adventure h5 {
  /* color: var(--main-color); */
  margin-bottom: 10px;
  font-size: 15px;
}
.news .container .adventures .adventure h6 {
  /* color: var(--main-color); */
  font-weight: normal;
  font-size:13px;
  margin-bottom: 15px;
}
.news .container .adventures .adventure i {
  text-align: right;
  display: block;
  margin-top: 30px;
}
.news .container .adventures .adventure p {
  /* color: var(--main-color); */
  font-weight: normal;
  line-height: 1.5;
}
.news .container .adventures .adventure:hover{
  background-color: var(--secondary-color);
  color: white !important;
}
/* end news */
/* start contact */
.contact-us {
  padding-top: var(--paddding-top);
  padding-bottom: var(--paddding-bottom);
}
.contact-us .container {
  text-align: left;
}
.contact-us .container .text h6 {
  color: var(--secondary-color);
  font-size: 14px;
}
.contact-us .container .text h3 {
  font-size: 30px;
  line-height: 1.6;
  color: var(--main-color);
  margin-bottom: 20px;
}
.contact-us .container form {
  display: flex;
  flex-direction: column;
}
.contact-us .container form .line {
  display: flex;
  justify-content: space-between;
}
.contact-us .container form .line input[type="email"]{
  width: 49%;
  padding:10px 20px 10px 15px;
  background-color: #f4fafe;
  border: none;
  margin-bottom: 30px;
}
.contact-us .container form .line input[type="text"]{
  width: 49%;
  padding:10px 20px 10px 15px;
  background-color: #f4fafe;
  border: none;
  margin-bottom: 30px;
}
.contact-us .container form .message {
  padding:10px 20px 10px 15px;
  background-color: #f4fafe;
  border: none;
  height: 200px;
}
.contact-us .container form .message::placeholder {
  text-align: center;
}
.contact-us .container form input[type="submit"] {
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: #ff4359;
  margin-top: 10px;
  border: none;
  width: fit-content;
  margin:50px auto;
}
.contact-us .container form input:focus {
  outline: none;
}
/* end contact */
/* start footer  */
.footer {
  padding-top: var(--paddding-top);
  padding-bottom: var(--paddding-bottom);
  background-color: var(--main-color);
  text-align: center;
}
.footer h5{
  color: white;
  font-weight: 500;
  font-size: 15px;
  margin-bottom: 15px;
}
.footer h3 {
  color: var(--secondary-color);
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 40px;
}
.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 40px;
}
@media (max-width:768px) {
  .footer ul {
    display: none;
  }
}
.footer ul li {
  margin-right: 15px;
  margin-left: 15px;
}
.footer h6 {
  color: white;
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 40px;
}
.footer .icons {
  color: white;
}
.footer .icons i {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 30px;
}
/* end footer  */